/* REMOVE LEFT-HAND NAV */

.sidebar__content {
    display: none !important;
}

.page-body {
    left: 0 !important;
    width: 100% !important;
    font-size: 20px;
}

.page-width {
    max-width: 1168px;
    margin: 50px auto;
    padding: 0 25px;
}


/* GENERAL STYLING AND LINKS */

h2,
h3,
h4,
li,
p {
    font-family: "franklin-gothic-urw", sans-serif;
}


p {
    font-size: 18px;
    line-height: 130%;
}


a {
    color: #000;
    text-decoration: none;
    transition: 0.4s all;
}

.centre {
    margin: 0 auto;
}


.topic:hover a,
.top-story:hover a,
.tenants:hover a,
.latest-news a:hover,
.connected:hover a,
.more a:hover,
.media a:hover {
    text-decoration: underline;
}

.subject-header {
    color: #666;

}

.subject-header:before {
    content: "\25A0";
    line-height: 0;
    font-size: 1.5em;
    color: #002e6f;
    margin-right: 5px;
}

.date {
    color: #666;
    font-size: 14.4px;
    display: block;
}

/* MAIN CONTENT */

.split-page {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}


.split-page .latest-news {
    padding: 25px 0;
    display: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

.top-row {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
}

.middle-row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    padding: 25px 0 20px 0;
}

.bottom-row {
    clear: both;
    display: flex;
    padding: 25px 0;
}

.top-story {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.top-story::after {
    content: "";
    clear: both;
    display: table;
}

.large-image-wrapper {
    display: block;
    margin: 0 0 20px 20px;
    height: 200px;
    float: right;
    position: relative;
}

.small-image-wrapper {
    display: none;
    float: right;
    margin: 0 0 20px 20px;
    height: 100px;
    position: relative;
}

.large-image-wrapper img,
.small-image-wrapper img {
    height: 100%;
}

.play {
    display: block;
    width: 40px;
    height: 40px;
    background: #e60054;
    position: absolute;
    left: 0;
    bottom: 0;
    float: right;
    color: #fff;
    text-align: center;
}

.large-image-wrapper .play {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.small-image-wrapper .play {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.7em;
}

.large-video {
    float: right;
    width: 560px;
    height: 315px;
    margin: 0 0 20px 15px;
}

.small-video {
    display: none;
    width: 300px;
    height: 169px;
    float: right;
    margin: 0 0 20px 15px;
}

.topic {
    width: 33%;
    padding: 0 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}


.topic p {
    font-size: 16px;
    margin-bottom: 0;
}

.tenants p {
    font-size: 16px;
}

.topic:nth-child(1) {
    padding: 0 20px 0 0;
    border-right: 1px solid #ddd;
}

.topic:nth-child(2) {
    border-right: 1px solid #ddd;
}

.lower-stories {
    border-right: 1px solid #ddd;
}

.bottom-large-pic {
    height: 200px;
    margin-right: 20px;
    float: left;
}

.bottom-small-pic {
    display: none;
    float: right;
    margin: 0 0 20px 20px;
    height: 100px;
}

.tenants-container {
    margin-right: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}


.tenants-container .more {
    font-size: 0.9em;
    background: #002e6f;
    width: 200px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    float: left;
}

.more a {
    color: #fff;
}

.more::after {
    content: "\203A";
    color: #fff;
    font-size: 1.5em;
    line-height: 0;
    margin-left: 5px;
    position: relative;
    top: 1px;
}



/* SIDE PANEL */

.side-panel {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin-left: 20px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
    box-sizing: border-box;
}

.latest-news {
    margin-bottom: 1.5em;
}

.latest-news ul,
.media ul {
    padding: 0 0 0 20px;
    margin-top: 1.5em;
}

.latest-news ul li,
.media ul li {
    margin: 0 0 1em 0;
    font-size: 16px;
    list-style-type: square;
}

.extras {
    display: flex;
    flex-wrap: wrap;
}


.connected {
    background: #ccc;
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

.connected img {
    float: right;
    height: 85px;
    margin-left: 10px;
}

.connected h2 {
    font-size: 1.3em;
    margin: 0 0 5px 0;
}

.connected p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


.connected::after {
    content: "";
    clear: both;
    display: table;
}

.media {
    width: 100%;

}

.media img {
    float: left;
    width: 30%;
    margin-right: 15px;
}

.media ul {
    padding: 0 0 0 20px;
    margin-top: 1.5em;
    margin-bottom: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
}

.media ul li {
    margin: 0 0 1em 0;
    list-style-type: square;
    font-size: 14px;
}

.extras {
    display: flex;
}

@media only screen and (max-width: 1150px) {
    .large-video {
        display: none;
    }

    .small-video {
        display: block;
    }

}


@media only screen and (max-width: 1000px) {
    .split-page {
        width: 100%;
    }

    .side-panel {
        width: 100%;
        border-left: 0;
        margin: 0;
        padding: 0;
    }

    .split-page .latest-news {
        display: block
    }

    .side-panel .latest-news {
        display: none;
    }

    .connected {
        width: 45%;
        margin-right: 25px;
        margin-bottom: 0;
    }

    .media {
        width: 45%;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        box-sizing: content-box;
    }

}


@media only screen and (max-width: 750px) {
    .large-image-wrapper {
        display: none;
    }

    .small-image-wrapper {
        display: block;
    }

    .bottom-large-pic {
        display: none;
    }

    .bottom-small-pic {
        display: block;
    }

    .tenants-container {
        margin-right: 0;
    }

    .tenants-container .more {
        float: none;
        margin: 10px auto;
        clear: both;
    }

}


@media only screen and (max-width: 660px) {
    .connected {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .media {
        width: 100%;
    }

    .media img {
        height: 100px;
        width: auto;
    }



}


@media only screen and (max-width: 600px) {
    .topic {
        width: 100%;
    }

    .topic:nth-child(1) {
        padding: 0 0 25px 0;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }

    .topic:nth-child(2) {
        padding: 25px 0;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }

    .topic:nth-child(3) {
        padding: 25px 0 0 0;
    }

}

@media only screen and (max-width: 500px) {

    .small-video {
        width: 100%;
        min-height: 210px;
    }

}


@media only screen and (max-width: 450px) {

    .top-small-pic,
    .bottom-small-pic {
        height: auto;
        width: 100%;
    }

    .small-video {
        width: 100%;
        min-height: 230px;
    }

}



@media only screen and (max-width: 400px) {

    .media img {
        display: none;
    }


}
